# Concatenation of DataFrames

## Concat with same index values (default)

In [11]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'customer':[101, 102, 103, 104],
                    'category':['apple', 'banana', 'orange', 'peach'],
                    'important':[True, False, True, False],
                    'sales':[100, 120, 130, 90] 
                   })
print(df1, '\n')

df2 = pd.DataFrame({
    'customer':[101, 103, 105, 106],
    'color':['red','yellow','orange','pink'],
    'distance':[10, 20, 30, 40],
    'sales':[333, 666, 999, 1333]
})

ccax0 = pd.concat([df1, df2], axis=0, sort=True)
ccax1 = pd.concat([df1, df2], axis=1, sort=True)
print(ccax0, ccax1, sep="\n\n")

   customer category  important  sales
0       101    apple       True    100
1       102   banana      False    120
2       103   orange       True    130
3       104    peach      False     90

  category   color  customer  distance important  sales
0    apple     NaN       101       NaN      True    100
1   banana     NaN       102       NaN     False    120
2   orange     NaN       103       NaN      True    130
3    peach     NaN       104       NaN     False     90
0      NaN     red       101      10.0       NaN    333
1      NaN  yellow       103      20.0       NaN    666
2      NaN  orange       105      30.0       NaN    999
3      NaN    pink       106      40.0       NaN   1333

   customer category  important  sales  customer   color  distance  sales
0       101    apple       True    100       101     red        10    333
1       102   banana      False    120       103  yellow        20    666
2       103   orange       True    130       105  orange        30    999
3       104    peach      False     90       106    pink        40   1333

In [21]:
print(ccax0.iloc[1], ccax0.loc[1], sep="\n\n")

category     banana
color           NaN
customer        102
distance        NaN
important     False
sales           120
Name: 1, dtype: object

  category   color  customer  distance important  sales
1   banana     NaN       102       NaN     False    120
1      NaN  yellow       103      20.0       NaN    666

## Concat with unique index values

In [39]:
df3 = pd.DataFrame({
    'customer':[101,102,103],
    'product':['apple', 'banana', 'orange'],
    'sales':[220, 240, 100]
}, index=[0,1,2], dtype='uint8')
df4 = pd.DataFrame({
    'customer':[101,102,105],
    'remains':[22, 24, 10]
}, index=[3,4,5])

df5 = pd.concat([df3, df4], axis=1)
print(df5)

   customer product  sales  customer  remains
0     101.0   apple  220.0       NaN      NaN
1     102.0  banana  240.0       NaN      NaN
2     103.0  orange  100.0       NaN      NaN
3       NaN     NaN    NaN     101.0     22.0
4       NaN     NaN    NaN     102.0     24.0
5       NaN     NaN    NaN     105.0     10.0

# Merge DataFrames

In [40]:
print(pd.merge(df3, df4, how="outer", on="customer")) # like union
print('')
print(pd.merge(df3, df4, how="inner", on="customer")) # like intersection

   customer product  sales  remains
0       101   apple  220.0     22.0
1       102  banana  240.0     24.0
2       103  orange  100.0      NaN
3       105     NaN    NaN     10.0

   customer product  sales  remains
0       101   apple    220       22
1       102  banana    240       24

In [41]:
print(pd.merge(df3, df4, how="left", on="customer"))

   customer product  sales  remains
0       101   apple    220     22.0
1       102  banana    240     24.0
2       103  orange    100      NaN

## Join together

Similar to merge() but uses the indexes for the relation. **Possible types:** left, right, inner, outer

In [74]:
df5 = pd.DataFrame({
    'A': ['L1', 'L2', 'L3'],
    'B': [10, 20, 30]
}, index=['I0', 'I1', 'I2'])
df6 = pd.DataFrame({
    'C': ['R1', 'R2'],
    'D': [40, 50]
}, index=['I0', 'I1'])
print(df5)
print('')
print(df6)
print('', "\n", 'Outer join...')
print(df5.join(df6, how='outer'))
print('', "\n", 'Inner join...')
print(df5.join(df6, how='inner'))
print("\n", "Left and right join is also available.")

     A   B
I0  L1  10
I1  L2  20
I2  L3  30

     C   D
I0  R1  40
I1  R2  50

 Outer join...
     A   B    C     D
I0  L1  10   R1  40.0
I1  L2  20   R2  50.0
I2  L3  30  NaN   NaN

 Inner join...
     A   B   C   D
I0  L1  10  R1  40
I1  L2  20  R2  50

 Left and right join is also available.