# Save and Load DataFrames

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

df1 = pd.DataFrame({
    'customer': ['cust1', 'cust2', 'cust3', 'cust4'],
    'distacnce': [120, 110, 220, 138],
    'sales': [214, 123, 331, 663]
})

In [2]:
df1

  customer  distacnce  sales
0    cust1        120    214
1    cust2        110    123
2    cust3        220    331
3    cust4        138    663

In [5]:
df1.to_csv('df1.csv', index=True)

In [6]:
new_df1 = pd.read_csv('df1.csv', index_col=0)
new_df1

  customer  distacnce  sales
0    cust1        120    214
1    cust2        110    123
2    cust3        220    331
3    cust4        138    663

In [7]:
df1.to_excel('df1.xlsx', index=False, sheet_name="Sales of October")
df1_xls = pd.read_excel('df1.xlsx', sheet_name="Sales of October")
df1_xls

  customer  distacnce  sales
0    cust1        120    214
1    cust2        110    123
2    cust3        220    331
3    cust4        138    663

In [8]:
df2 = pd.read_excel('df1.xlsx', sheet_name="Sales of October", index_col=0)
df2

          distacnce  sales
customer
cust1           120    214
cust2           110    123
cust3           220    331
cust4           138    663